{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Time</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{stock.Symbol}}</td>
                    <td>{{stock.Name}}</td>
                    <td>{{stock.Shares}}</td>
                    <td>{{stock.Time}}</td>
                    <td>{{stock.Price}}</td>
                    <td>{{stock.Total}}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}